{
    "host": "my-tb-ce-mqtt-host.com",
    "port": 8883,
    "caCertPath": "/etc/ssl/my-tb-mqtt-ca.cert.pem",
    "clientId": "example-client-id1",
    "username": "my-client-username",
    "password": "super-secret-password"
}
